/****************** Waiting to be merged into upstream Kayal ******************/

/* https://github.com/mnjm/kayal/pull/69 */
.taxny-card {
  flex: 1 0;
}

/* https://github.com/mnjm/kayal/pull/71 */
code {
  white-space: nowrap;
}

/********************** My permanent custom modifications *********************/

/* Proposed and rejected in Kayal: https://github.com/mnjm/kayal/pull/68 */
.content {
  max-width: 90ch;
}

/* Inspired by the footer at https://matklad.github.io.
 * Underlined links grab too much attention that the footer doesn't deserve.
 */
footer a:not(:hover) {
  border-bottom: none;
}
