/****************** Waiting to be merged into upstream Kayal ******************/

/* https://github.com/mnjm/kayal/pull/76 */
main ul li:has(p) + li:has(p) {
  margin-top: 7px;
}
main ul li p:last-of-type {
  margin-bottom: 0;
}

/* https://github.com/mnjm/kayal/pull/75 */
main ul li p:first-of-type {
  display: inline;
}
main ul.lst li div.lst-a {
  display: inline;
}

/* https://github.com/mnjm/kayal/pull/69 */
.taxny-card {
  flex: 1 0;
}

/********************** My permanent custom modifications *********************/

/* Keep the profile picture close to the top (apart from the margin around).
 * Kayal artificially moves it down just a little, for some reason.
 */
.avatar.right {
  margin-top: 0px;
}

/* Proposed and rejected in Kayal: https://github.com/mnjm/kayal/pull/68 */
.content {
  max-width: 84ch;
}

/* Inspired by the footer at https://matklad.github.io.
 * Underlined links grab too much attention that the footer doesn't deserve.
 */
footer a:not(:hover) {
  border-bottom: none;
}
